html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: Arial;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #abacae;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

#banner {
	/* background-image: url(../img/banner_large.jpg);*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: relative;
  position: relative;
  overflow: hidden;
  padding: 90px 0 50px;
  
  
  background-image: url(../img/banner_large.jpg);
  /* background-repeat: no-repeat; 
  background-size: 100% 100%; */
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

#navbarBg{
	background-color: #00A1D3;
	opacity: 0.85;
}

.navbar-brand {
  position: relative;
  padding: 0px;
  background-color: white;
}

.navbar-expand-md .navbar-toggler {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.navbar-brand img {
  width: 70%;
}

.navbar-brand div {
  background-color: white;
  padding : 2px 2px;
  text-align: top;
}


/* active*/
.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #0fffff;
}

.indigo {
  background: transparent;
}

.menu-bg {
  background: transparent;
}

.navbar-expand-md .navbar-nav .nav-link i {
  font-size: 13px;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-item {
  padding-left: 25px;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 400;
  padding: 7px 0;
  cursor: pointer;
  position: relative;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-link:before {
  background-color: #fff;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  margin: 0 auto;
  width: 0;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: width 1s;
  -ms-transition: width 1s;
  -webkit-transition: width 1s;
}

.navbar-expand-md .navbar-nav li a:hover,
.navbar-expand-md .navbar-nav li .active > a,
.navbar-expand-md .navbar-nav li a:focus {
  color: #fff;
  outline: none;
}

.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open > .nav-link {
  color: #ffffff;
  width: 100%;
}

.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover::before,
.navbar-expand-md .navbar-nav .nav-link:focus {
  color: #ffffff;
  width: 100%;
  transition: width 1s;
  -webkit-transition: width 1s;
  -ms-transition: width 1s;
}

.navbar li.active a.nav-link {
  color: #0fffff;
}

#mobileLinkArrow{
	display: none;
}

/* ==========================================================================
 Banner Area
========================================================================== */
#hero-area {
 /* background-image: url(../img/banner_large.jpg);*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: relative;
  position: relative;
  overflow: hidden;
  padding: 10px 0px 5px;
  color: #333333;

}

#hero-area .contents .head-title {
  color: #333333;
  font-size: 28px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 10px;
}


.intro {
  height: 70px;
  position: relative;
  color: #fff;
}

.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.intro .text-slider-items {
  display: none;
}

/* ==========================================================================
Team Area
========================================================================== */
.team-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}

.team-item {
  margin: 15px 0;
  border-radius: 0px;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  background: #fff;
  min-height: relative;
  color: #333;
}

.team-item .team-img {
  float: left;
  width: relative;
  margin-right: 10px;
}

.team-item .contetn {
  padding: 15px 50px;
  height: relative;
}

.team-item .info-text {
  margin-bottom: 10px;
}

.team-item .info-text h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}

.team-item .info-text p {
  margin: 0;
  color: #333;
}

.team-item:hover .team-overlay {
  opacity: 1;
}

#teamLink {
	font-size: 13px;
}

#teamLink img{
	height: 40px;
	width: relative;
}

/* ==========================================================================
Contact Area
========================================================================== */
.form-control {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 4px;
  /* -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s; */
  transition: all 0.3s;
  padding: 10px;
  border: 1px solid #f0f0f0;
}

.form-control:focus {
  border-color: #00A1D3;
  box-shadow: none;
  outline: none;
}

.list-unstyled li {
	color: #f0f0f0;
	font-size:12px;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.contact-form-area h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color: #00A1D3;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.btn-common:hover {
  color: #00A1D3;
  background: transparent;
  border: 1px dotted #00A1D3;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}



/* ==========================================================================
3. Service Area
========================================================================== */
.section-padding {
  padding: 20px 0;
}

.section-header {
  margin-bottom: 30px;
}

.section-header p {
  text: center;
  font-weight: 400;
  line-height: 26px;
}

.section-title {
  font-size: 30px;
  color: #222222;
  display: inline-block;
  font-weight: 700;
  position: relative;
}

.shape {
  height: 1px;
  margin: 0 auto 30px;
  position: relative;
  width: 60px;
  background-color: #00A1D3;
}

/* Services Item */
.services-item {
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  margin: 15px 0;
  box-shadow: 0 0 12px #F4F4F4;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .icon {
  border: 1px solid #00A1D3;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .icon i {
  font-size: 30px;
  color: #00A1D3;
  line-height: 70px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .services-content h3 {
  margin-top: 10px;
  font-size: 16px;
  color: #585b60;
  margin-bottom: 10px;
}

.services-item .services-content h3 a {
  font-size: 16px;
  color: #585b60;
}

.services-item .services-content h3 a:hover {
  color: #F63854;
}

.services-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}

.services-item:hover .icon {
  background: #00A1D3;
}

.services-item:hover .icon i {
  color: #fff;
}

#service {
  position: relative;
}
/* ####################################### */
/* Footer Area Start */
.footer-area {
  position: relative;
  padding: 10px 0px 0px;
  background: #fff;
}

#copyright .copyright-content {
  border-top: 1px solid #d5d4e9;
  padding: 15px 0;
  margin: 45px 0 0px;
  background-color: #00A1D3;
}

#copyright p {
  line-height: 42px;
  color: #fff;
  text-align: left;
  margin: 0px 20px;
}

